.details-action-bar {
  display: inline-flex !important;
  /* justify-content: space-between;
  align-items: center;
  background-color: yellow; */
  width: auto;
  padding: 1rem 0;
}

.link-button {
  width: fit-content;
  margin: 0.15rem;
  padding: 0.5rem 1rem;
  /* border: lightgray 1px solid; */
}
.details-control-element {
  background-color: var(--elements-background) !important;
  color: var(--text-color) !important;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}

.details-card {
  height: fit-content !important;
  border: none !important;
  background-color: var(--background) !important;
}
.neighbor-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 580px) {
  .card .row > [class*="col-"] {
    margin-bottom: 1rem;
  }
  .neighbor-container {
    margin-bottom: 1.5rem;
  }
}
