@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");

* {
  box-sizing: border-box !important;
}
/* setting theme variables */
.theme-light {
  --text-color: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --elements-background: hsl(0, 0%, 100%);
}
.theme-dark {
  --text-color: hsl(0, 0%, 100%);
  --input-text: hsl(0, 0%, 100%);
  --background: hsl(207, 26%, 17%);
  --elements-background: hsl(209, 23%, 22%);
}

/* applying theme variables wherever applicable */
body,
.App {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);

  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: var(--text-color) !important;
  line-height: 90%;
}
.title {
  font-weight: 800;
}
.subtitle {
  font-weight: 600;
}

/* adding hover behaviour to all the interactive elements */
a,
button,
[role="button"] {
  text-decoration: none;
  color: var(--text-color) !important;
  transition: 0.3s;
}
a:hover,
button:hover,
[role="button"]:hover {
  color: var(--text-color) !important;
  transform: scale(1.1);
}
